.container{
    width: 400px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 4px rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.container:hover{
    transform: scale(1.05);
}

.poster{
    width: 100%;
    border-radius: 20px;
}

.overlay{
    width: 400px;
    height: 150px;
    background:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1));
    color: white;
    position: relative;
    top: -155px;
    box-shadow: 0px 20px 30px 60px rgba(0,0,0,0.5);
    transition: all 0.4s;
    padding: 20px;
    font-size: 12px;
}

.uis-favorite{
   color: yellow;
}

.card-info{
    font-size: 22px;
    color: grey;
    font-weight: 400;
}


@media only screen and (max-width: 888px) {
    .container{
        width: 160px;
        height: 230px;
        border-radius: 7px;
        overflow: hidden;
        margin: 8px;
        cursor: pointer;
        box-shadow: 0px 2px 2px 4px rgba(0,0,0,0.3);
        transition: all 0.4s;
    }

    .poster{
        border-radius: 7px;
    }

    .card-info{
        font-size: 12px;
        color: grey;
        font-weight: 400;
    }

    .title{
        font-size: 13px;
    }
    
    .box{
        left: -10px;
        position: relative;
        width: 145px;
        top: 60px;
    }

    .overlay{
        width: 160px;
    }
}