.div-backdrop{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.overlay-backdrop{
    width: 50vw;
    height: 100vh;
    background:  linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.2));
    color: white;
    position: relative;
    top: -950px;
    box-shadow: 200px 20px 40px 50px rgba(0,0,0,0.2);
    transition: all 0.4s;
    padding: 20px;
    font-size: 12px;
}

.moviename{
   font-size: 50px;
}

.uis-favorite{
    color: yellow;
}

.info{
    position: relative;
    top: 150px;
    margin-left: 30px;
}

.movie-info{
    font-size: 30px;
    color: gray;
    font-weight: 400;
}

p{
    font-size: 25px;
    width: 35vw;
}

@media only screen and (max-width: 888px){
    .moviename{
        font-size: 32px;
     }

     .movie-info{
        font-size: 21px;
    }

    .overlay-backdrop{
        width: 70vw;
        height: 120vh;
        padding: 4px;
    }

    p{
        font-size: 18px;
        width: 50vw;
    }

}