@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 160px;
}

nav{
    width: 100vw;
    height: 14vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.logo-head{
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin-left: 25px;
}

.profile{
    width: 70px;
    border-radius: 50%;
    position: absolute;
    right: 25px;
}

.input-box{
    width: 350px;
    height: 55px;
    margin: 0px 50px;
    background-color: rgba(256,256,256, 0.7);
    border-radius: 7px;
    border: none;
    padding: 0px 10px;
    transition: all 0.4s;
    outline: none;
    font-size: 28px;
    position: absolute;
    right: 160px;
}

.input-box:focus{
    background-color: white;
    transform: scale(1.1);
}

.net{
    background-color: white;
    color: black;
    padding: 0px 2px;
}

.uis-house-user{
    color: white;
    font-size: 50px;
    margin: 0px 40px;
}

.uis-house-user:active{
    color: rgb(183, 182, 182);
}

@media only screen and (max-width: 888px) {
    
    .logo-head{
        font-size: 10px;
        margin-left: 10px;
    }
    .profile{
        width: 30px;
        right: 25px;
    }

    .uis-house-user{
        font-size: 25px;
        margin: 0px 40px;
    }
    .input-box{
        width: 150px;
        height: 20px;
        margin: 0px 50px;
        background-color: rgba(256,256,256, 0.7);
        border-radius: 2px;
        border: none;
        padding: 0px 4px;
        transition: all 0.4s;
        outline: none;
        font-size: 12px;
        position: absolute;
        right: 20px;
    }
  }