
main{
    width: 100vw;
    min-height: 86vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(16, 16, 16);
}

.head-trend{
    background-color: rgb(16, 16, 16);
    color: white;
    text-align: center;
    font-size: 55px;
    padding: 20px 0px;
}

@media only screen and (max-width: 888px) {
    .head-trend{
        font-size: 20px;
        padding: 10px 0px;
    }
}